<footer class="footer">
  <small><a href="/universities">University Window</a>
  by Eseosa Oshodin
  </small>
<nav>
    <ul>
      <li><%= link_to "About",   pages_aboutus_path %></li>
      <li><%= link_to "Contact", pages_contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
</nav>
</footer>

